@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-ternary: #99E2D0;

$font-title: 'Shrikhand', cursive;
$font-body: 'Roboto', sans-serif;
