@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.btn {
  padding: 1.4rem;
  font-size: 1.3rem;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  margin: 1.5rem 0;
  box-shadow: 3px 5px 10px #AEAEAE;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(to bottom right, #ff88de, #9b63df);
  box-shadow: 6px 8px 15px #AEAEAE;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 6rem;
}
@media screen and (min-width: 992px) {
  .btn-container {
    padding-bottom: 3.5rem;
  }
}

.btn__order {
  margin: 1rem auto 1rem;
  width: 50%;
  padding: 1.1rem 0;
  font-size: 1.4rem;
}
@media screen and (min-width: 992px) {
  .btn__order {
    width: 30%;
  }
}

@keyframes listing {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes spin {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
@media screen and (min-width: 992px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__logo {
  padding-top: 1.5rem;
  width: 50%;
}
@media screen and (min-width: 992px) {
  .header__logo {
    padding-left: 1.5rem;
    width: 20%;
  }
}
.header__location {
  width: 100%;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  background-color: #EAEAEA;
  box-shadow: inset 0px 4px 7px -2px #aaaaaa;
}
@media screen and (min-width: 992px) {
  .header__location {
    width: 30%;
    background-color: #fff;
    box-shadow: none;
  }
}
.header__location i {
  padding-right: 1rem;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.7rem 0 1rem 0;
}
.menu-header__icon {
  cursor: pointer;
  position: absolute;
  left: 1em;
  font-size: 1.6rem;
}
@media screen and (min-width: 992px) {
  .menu-header__icon {
    font-size: 2rem;
  }
}
.menu-header__icon a {
  text-decoration: none;
  color: #000;
}
.menu-header__logo {
  width: 45%;
}
@media screen and (min-width: 992px) {
  .menu-header__logo {
    width: 25%;
  }
}
.menu-header__image {
  margin-bottom: -3.5rem;
  object-fit: cover;
  height: 350px;
}

.topbanner {
  width: 100%;
  background-image: linear-gradient(to top, #f7f7f7, white);
}
.topbanner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1em;
  text-align: center;
  padding: 3rem 0;
}
.topbanner__container h2 {
  width: 65%;
}
.topbanner__container p {
  width: 90%;
  font-weight: 300;
  font-size: 1.6rem;
}

.howto {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 5.5rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .howto {
    padding: 3rem 2rem 4rem 0.5rem;
  }
}
.howto h2 {
  padding-left: 1rem;
}
.howto__container {
  margin-top: 2.2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media screen and (min-width: 768px) {
  .howto__container {
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
  }
}

.item {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .item {
    flex-basis: 33%;
    justify-content: center;
    max-width: 400px;
  }
}
.item__number {
  background-color: #9356DC;
  color: #fff;
  padding: 0.25rem 0.6rem;
  font-size: 1.2rem;
  border-radius: 50%;
  position: relative;
  left: 1rem;
}
.item__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 2px 4px 15px #AEAEAE;
  padding: 2.3rem 0;
}
@media screen and (min-width: 768px) {
  .item__content {
    padding: 1rem;
  }
}
.item__content i {
  font-size: 1.6rem;
  padding: 0 2rem 0 3rem;
  color: hsl(267.3134328358deg, 0%, 50%);
}
@media screen and (min-width: 768px) {
  .item__content i {
    padding: 1rem;
    font-size: 1.5rem;
  }
}
.item__content p {
  width: 80%;
  font-size: 1.3rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .item__content p {
    font-size: 1.2rem;
  }
}
.item__content:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.item__content:hover i {
  color: #9356DC;
}

* {
  box-sizing: border-box;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 1rem 0.4rem 1.5rem;
  background-color: #f2f2f2;
  border-radius: 45px 45px 0 0;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .title-container {
    justify-content: center;
    gap: 2em;
    padding: 2.5rem 1rem 0.6rem 1rem;
  }
}
.title-container > h1 {
  font-size: 2.3rem;
}
@media screen and (min-width: 992px) {
  .title-container > h1 {
    font-size: 1.8rem;
  }
}
.title-container__icon {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .title-container__icon {
    margin-right: 0;
  }
}
.title-container__icon i[class*=regular] {
  position: relative;
  transition: opacity 600ms cubic-bezier(0.6, 0, 0.5, 1);
}
.title-container__icon i[class*=solid] {
  color: transparent;
  position: absolute;
  opacity: 0;
  transform: scale(0.84, 0.81);
  transition: opacity 600ms cubic-bezier(0.6, 0, 0.5, 1), clip-path 500ms linear, transform 500ms cubic-bezier(1, 0, 0.5, 1);
  clip-path: inset(100% 0% 0% 0%);
}
.title-container__icon:hover i[class*=solid] {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 1;
  transform: scale(1);
  clip-path: inset(0% 0% 0% 0%);
}
.title-container__icon:hover i[class*=regular] {
  opacity: 0;
}

.menucard {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 2rem 1rem 2.7rem 1.2rem;
  gap: 2.5em;
}
@media screen and (min-width: 992px) {
  .menucard {
    flex-direction: row;
    gap: 0.5em;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin-bottom: 0.8em;
}
@media screen and (min-width: 992px) {
  .menu {
    width: 33.3333333333%;
  }
}
.menu__title {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 0.3rem;
}
@media screen and (min-width: 992px) {
  .menu__title {
    font-size: 1.2rem;
  }
}
.menu__title::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 50px;
  height: 4px;
  margin-top: 0.4rem;
}
@media screen and (min-width: 992px) {
  .menu__title::after {
    margin-top: 0.1rem;
  }
}
.menu__info {
  box-shadow: 2px 4px 10px #AEAEAE;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transform-origin: top;
  animation: listing 1s both;
}
.menu__info--1 {
  animation-delay: 200ms;
}
.menu__info--2 {
  animation-delay: 400ms;
}
.menu__info--3 {
  animation-delay: 600ms;
}
.menu__info--4 {
  animation-delay: 800ms;
}
.menu__info--5 {
  animation-delay: 1000ms;
}
.menu__info--6 {
  animation-delay: 1200ms;
}
.menu__info--7 {
  animation-delay: 1400ms;
}
.menu__info--8 {
  animation-delay: 1600ms;
}
.menu__info--9 {
  animation-delay: 1800ms;
}
.menu__info--10 {
  animation-delay: 2000ms;
}
.menu__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5em;
  transition: width 1s;
}
.menu__content:hover {
  width: 85%;
}
.menu__content:hover + .menu__validation {
  margin: 0;
}
.menu__content:hover + .menu__validation i {
  transform: rotate(360deg);
}
.menu__item {
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
@media screen and (min-width: 992px) {
  .menu__item {
    font-size: 1.1rem;
  }
}
.menu__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__detail p {
  font-weight: 100;
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
@media screen and (min-width: 992px) {
  .menu__detail p {
    font-size: 1rem;
  }
}
.menu__detail span {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 0.7em;
  padding-left: 0.5rem;
}
@media screen and (min-width: 992px) {
  .menu__detail span {
    font-size: 0.9rem;
  }
}

.menu__validation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  width: 15%;
  margin-right: -15%;
  transition: margin 1s;
}
.menu__validation .iconwrapper i {
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: #fff;
  color: #99E2D0;
  border-radius: 50%;
  padding: 0.2rem 0.35rem;
  transform: rotate(0deg);
  transition-duration: 1s;
}
@media screen and (min-width: 992px) {
  .menu__validation .iconwrapper i {
    font-size: 1.5rem;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  background-color: #f2f2f2;
  padding: 4.5rem 1.5rem 5.2rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .restaurant {
    padding: 3.5rem 1rem 4.2rem 1rem;
  }
}
@media screen and (min-width: 768px) {
  .restaurant h2 {
    padding-left: 1rem;
  }
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
@media screen and (min-width: 768px) {
  .restaurant__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.card {
  text-decoration: none;
  color: #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 2px 4px 10px #AEAEAE;
}
@media screen and (min-width: 768px) {
  .card {
    flex-basis: 47%;
  }
}
.card__new {
  border-radius: 2px;
  font-weight: 500;
  text-align: center;
  width: 85px;
  padding: 0.6rem;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #24806a;
  background-color: #99E2D0;
}
.card__image {
  width: 100%;
  height: 235px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__body {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 1.3rem 1.5rem 1.4rem 1rem;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4em;
}
.card__content p {
  font-size: 1.4rem;
  font-weight: 300;
}
.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.card__icon i[class*=regular] {
  position: relative;
  transition: opacity 600ms cubic-bezier(0.6, 0, 0.5, 1);
}
.card__icon i[class*=solid] {
  color: transparent;
  position: absolute;
  opacity: 0;
  transform: scale(0.84, 0.81);
  transition: opacity 600ms cubic-bezier(0.6, 0, 0.5, 1), clip-path 500ms linear, transform 500ms cubic-bezier(1, 0, 0.5, 1);
  clip-path: inset(100% 0% 0% 0%);
}
.card__icon:hover i[class*=solid] {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 1;
  transform: scale(1);
  clip-path: inset(0% 0% 0% 0%);
}
.card__icon:hover i[class*=regular] {
  opacity: 0;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding: 1.8rem 2rem 3rem 2rem;
  background-color: #353535;
  color: #fff;
}
footer h3 {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) {
  footer h3 {
    text-align: center;
    font-size: 2rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    gap: 3em;
  }
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__item {
  display: flex;
  color: #fff;
}
.footer__item i {
  font-size: 1.1rem;
  padding-right: 1rem;
}
.footer__item i[class*=handshake] {
  padding-right: 0.5rem;
}
.footer__link {
  font-size: 1.3rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.343);
}

.loader {
  z-index: 100;
  position: fixed;
  top: 5rem;
  width: 150px;
  height: 150px;
  border: 20px solid #FF79DA;
  border-radius: 50%;
  border-left-color: #9356DC;
  animation: spin 600ms linear 2;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
