.title-container, .card{
    &__icon{
        @include central-row-content;
        font-size: 2rem;
        & i[class*="regular"]{
            position: relative;
        }
        & i[class*="solid"]{
            color: transparent;
            position: absolute;
            opacity: 0;
            transition: all 800ms linear;
            clip-path: inset(100% 0% 0% 0%);
        }
        &:hover i[class*="solid"]{
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
            opacity: 1;
            clip-path: inset(0% 0% 0% 0%);
        }
        &:hover i[class*="regular"]{
            opacity: 0;
        }
    }
}


@keyframes listing{
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}