.btn{
    padding: 1.4rem;
    font-size: 1.3rem;
    color: white;
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border-radius: 50px;
    border: none;
    margin: 1.5rem 0;
    box-shadow: 3px 5px 10px #AEAEAE;
    cursor: pointer;
    &:hover{
        background-image: linear-gradient(to bottom right, lighten($color-secondary, 3), lighten($color-primary, 3));
        box-shadow: 6px 8px 15px #AEAEAE;
    }
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lighten($color-background, 3);
    padding-bottom: 6rem;
    @include desktop{
        padding-bottom: 3.5rem;
    }
}

.btn__order{
    margin: 1rem auto 1rem;
    width: 50%;
    padding: 1.1rem 0;
    font-size: 1.4rem;
    @include desktop{
        width: 30%;
    }
}