.btn{
    padding: 1.4rem;
    font-size: 1.3rem;
    color: white;
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border-radius: 50px;
    border: none;
    margin: 1.5rem 0;
    box-shadow: 3px 5px 10px #AEAEAE;
    cursor: pointer;
}