*{
    box-sizing: border-box;
    // border: 1px solid red;
}
header{
    display: flex;
    flex-direction: column;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7rem 0 1rem 0;
    &__icon{
        position: absolute;
        left: 1em;
        font-size: 1.6rem;
        & a{
            text-decoration: none;
            color: #000;
        }
    }
    &__logo{
        width: 45%;
    }
    &__image{
        object-fit: cover;
        height: 350px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    padding: 2rem 1.5rem;
    border-radius: 45px 45px 0 0;
    gap: 2.5em;
    position: relative;
    z-index: 100;
    top: -60px;
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > h1{
        font-size: 2.3rem;
    }
    & i{
        font-size: 2rem;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    margin-bottom: .8em;
    &__title{
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 100;
        padding-bottom: .3rem;
        &::after{
            content: '';
            display: block;
            background-color: #99E2D0;
            width: 55px;
            height: 4px;
            margin-top: .4rem;
        }
    }
    &__info{
        box-shadow: 2px 4px 10px #AEAEAE;
        display: flex;
        background-color: #fff;
        border-radius: 20px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        gap: .6em;
    }
    &__item{
        font-size: 1.4rem;
    }
    &__detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & p{
            font-weight: 100;
            font-size: 1.2rem;
        }
        & span{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}
.btn__order{
    margin: 1rem auto 1rem;
    width: 50%;
    padding: 1.3rem 0;
}

// .validation{
//     width: 20%;
//     background-color: #99E2D0;
// }

// .menu__content:hover + .validation{
//     background-color: black;
//     animation: confirm 1000ms ease-in-out;
// }
