.topbanner{
    width: 100%;
    background-image: linear-gradient(to top, lighten($color-background, 5%), lighten($color-background, 10%));
    &__container{
        @include central-column-content;
        gap: 1.1em;
        text-align: center;
        padding: 3rem 0;
        & h2{
            width: 65%;
        }
        & p{
            width: 90%;
            font-weight: 300;
            font-size: 1.6rem;
        }
    }
}