footer{
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    padding: 1.5rem 2rem 2rem 2rem;
    background-color: $color-footer;
    color: #fff;
    & h3{
        font-family: $font-title;
        font-size: 1.4rem;
        @include tablet{
            text-align: center;
            font-size: 2rem;
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    gap: .7em;
    @include tablet{
        flex-direction: row;
        justify-content: center;
        gap: 3em;
    }
    & a{
        text-decoration: none;
        color: #fff;
        &:hover{
            text-decoration: underline;
        }
    }
    &__item{
        display: flex;
        color: #fff;
        & i{
            font-size: 1.1rem;
            padding-right: 1rem;
        }
        & i[class*="handshake"]{
            padding-right: .5rem;
        }
    }
    &__link{
        font-size: 1.2rem;
    }
}