.loader-container{
    @include central-row-content;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(211, 211, 211, 0.343);
    z-index: 150;
    opacity: 0;
    animation: load 1200ms;
}
.loader{
    width: 150px;
    height: 150px;
    border: 20px solid $color-secondary;
    border-radius: 50%;
    border-left-color: $color-primary;
    animation: spin 600ms linear 2;
    opacity: 0;
}

