*{
    box-sizing: border-box;
    // border: 1px solid red;
}

header{
    display: flex;
    flex-direction: column;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7rem 0 1rem 0;
    &__icon{
        cursor: pointer;
        position: absolute;
        left: 1em;
        font-size: 1.6rem;
        @include desktop{
            font-size: 2rem;
        }
        & a{
            text-decoration: none;
            color: #000;
        }
    }
    &__logo{
        width: 45%;
        @include desktop{
            width: 25%;
        }
    }
    &__image{
        margin-bottom: -5.5rem;
        object-fit: cover;
        height: 350px;
    }
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem .2rem 1rem;
    background-color: $color-background;
    border-radius: 45px 45px 0 0;
    position: relative;
    z-index: 1;
    @include desktop{
        justify-content: center;
        gap: 2em;
        padding: 2.5rem 1rem .6rem 1rem;;
    }
    & > h1{
        font-size: 2rem;
        @include desktop{
            font-size: 1.8rem;
        }
    }
    & i{
        margin-right: 2rem;
        font-size: 2rem;
        @include desktop{
            margin-right: 0;
        }
    }
}

.menucard{
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    padding: 2rem 1rem;
    gap: 2.5em;
    @include desktop{
        flex-direction: row;
        gap: .5em;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    gap: .9em;
    margin-bottom: .8em;
    @include desktop{
        width: calc(100% / 3);
    }
    &__title{
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 100;
        padding-bottom: .3rem;
        @include desktop{
            font-size: 1.2rem;
        }
        &::after{
            content: '';
            display: block;
            background-color: #99E2D0;
            width: 45px;
            height: 4px;
            margin: .3rem 0 .1rem 0;
            @include desktop{
                margin-top: .2rem;
            }
        }
    }
    &__info{
        box-shadow: 2px 4px 10px #AEAEAE;
        display: flex;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        transform-origin: top;
        animation: listing 1s both;
        @for $i from 1 through 10{
            &--#{$i}{
                animation-delay: 200ms * $i;
            }
        }

    }
    &__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: .2em;
        transition: width 1s;
        &:hover{
            width: 85%;
        }
        &:hover + .menu__validation{
            margin: 0;
            & i{
                transform: rotate(360deg);
            }
        }
    }
    &__validation{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 20px 20px 0;
        background-color: $color-ternary;
        width: 15%;
        margin-right: -15%;
        transition: margin 1s;
        }
    &__item{
        font-size: 1.3rem;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        @include desktop{
            font-size: 1.1rem;
        }
    }
    &__detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & p{
            font-weight: 100;
            font-size: 1.2rem;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            @include desktop{
                font-size: 1rem;
            }
        }
        & span{
            font-size: 1.2rem;
            font-weight: 500;
            margin-right: .7em;
            @include desktop{
                font-size: .9rem;
            }
        }
    }
}

.iconwrapper{
    & i{
        font-weight: bolder;
        font-size: 1.2rem;
        background-color: #fff;
        color: $color-ternary;
        border-radius: 50%;
        padding: .2rem .35rem;
        transform: rotate(0deg);
        transition-duration: 1s;
        @include desktop{
            font-size: 1.5rem;
        }
    }
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    padding-bottom: 4rem;
}

.btn__order{
    margin: 1rem auto 1rem;
    width: 50%;
    padding: 1.1rem 0;
    font-size: 1.2rem;
    @include desktop{
        width: 30%;
    }
}